<h2>Attendees</h2>
<table>
  <tr> 
    <th>Name</th>
    <th>Email</th>
    <th>School Name</th>
  </tr>
<tbody>
<% if !@attendees.nil? %>
  <% for @attendees.each do |attendee| %>
    <tr>
      <td><%= attendee.name %></td>
      <td><%= attendee.email %></td>
      <td><%= attendee.school_name %></td>
    </tr>
  <% end %>
<% else %>
    <tr>
      <td colspan="3">No attendees registered</td>
    </tr>
<% end %>
</table>
