<p><%= @webinar.description %></p>

<p><span class="label">Live date:</span>
  <time><%= l(@webinar.live_date, format: :long) %></time>
</p>

<p><span class="label">Presenter:</span>
  <%= @webinar.presenter.name if @webinar.presenter.present? %>
</p>
