<div class="not-found">
<h2>Sorry, we're unable to find those details</h2>
<p>We can't find any details that match. Please go back to the list and select an available webinar.</p>
<p><%= link_to "View available Webinars", webinars_path, class: 'btn' %></p>
</div>
</section>
<%= render 'prefooter' %>
