.holder {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 984px;
  padding: 0 20px;
  
  @include media($large-screen) {
    width: 984px;
  }
}

text-block {
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 0;
}

.text-block,
.image-block {
  display: inline-block;
  height: auto;
  margin: 0 auto;
  padding: 0;
  vertical-align: bottom;
  z-index: 2;
}

.prefooter {
  color: white;
  background-image: image-url('prefooter.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;

  @include media($large-screen) {
    padding: 140px 0;
  }

  h1 {
    @include media($large-screen) {
      font-size: 80px;
    }

    color: white;
    display: block;
    font-size: 48px;
    font-weight: 300;
    line-height: 80px;
    margin: 0;
    padding: 0 0 50px;
    text-align: left;
  }

  .quote {
    font-size: 20px;
  }

  p {
    display: block;
    margin: 0 0 10px;
    padding: 0;
  }

  .title {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 50px;
  }

  .text-block {
    @include media($large-screen) {
      width: 600px;
    }
  }

  .holder {
    min-height: 480px;
  }

  .hbutton {
    background-color: white;
    border-radius: 40px;
    color: #29615b;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    opacity: .85;
    padding: 14px;
    text-align: center;
    width: 240px;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
