//Helvetica, Arial, sans-serif !default;
$base-font-family: 'canada-type-gibson','Gibson-Light', $font-stack-system;

$trilbytv-green: #49aea3;
$trilbytv-green-dark: #29615b;
$trilbytv-aqua: #b3f9f1;
$trilbytv-aqua-dark: #5ee1d2;
$trilbytv-grey: #edf0f5;
$trilbytv-grey-dark: #cdcfd1;
$trilbytv-red: #e05f5f;
$trilbytv-yellow: #f3b043;
