.application-header {
  background-color: #ffffff;
}

.side-image {
  $base-line-height: 1.4em !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $side-image-background-top: $trilbytv-green;
  $side-image-background-bottom: $trilbytv-green;
  $side-image-content-background: $trilbytv-green;
  $side-image-content-background-image: image-url('webinar_img_1.png');
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, .8), 30%);
  background: $side-image-content-background;
  margin: 16px 0;
  min-height: 250px;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    background-color: $side-image-background-top;
    background-image: $side-image-content-background-image;
    background-size: cover;
    border-bottom: $side-image-border;
    display: block;
    max-height: 250px;
    min-height: 8em;
    padding: 20px;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
      width: 400px;
    }
  }

  .side-image-content {
    @include span-columns(12);
    color: #ffffff;
    font: $base-font-family;

    @include media($large-screen) {
      @include span-columns(8);
    }

    h2 {
      color: #ffffff;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin-bottom: 3em;
    }
  }

  .webinar-content-wrapper {
    background-color: #ffffff;
    padding: 1em;

    @include media($large-screen) {
      @include span-columns(12);
      padding: 1.1111em;
    }
  }

  @include reset-display();
}

button.clear {
  @include position(absolute, 5px 5px auto auto);
  font-size: .7em;
  max-width: $clear-button-width;
}

.join-form {
  @include media($medium-screen) {
    @include span-columns(6);
  }
}

.multiple-select-wrapper {
  display: inline-block;
}

.webinars .not-found {
  margin: 0 auto;
  min-height: 250px;

  h2 {
    margin-bottom: 36px;
  }
}
