/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require font-awesome
 *= require simple_form_extension
*/

// Brand Colors
// $brand-green: #49aea3;
// $brand-green-dark: #29615b;
// $brand-aqua: #b3f9f1;
// $brand-aqua-dark: #5ee1d2;
// $brand-grey: #edf0f5;
// $brand-grey-dark: #cdcfd1;
// $brand-red: #e05f5f;

@charset "utf-8";

@import "normalize-rails";

@import "bourbon";
@import "neat";

@import "base/base";
@import "refills/flashes";

@import "global";
@import "trilbytv";
@import "utilities";
@import "webinars";
@import "prefooter";

@import "simple_form_extension";

.page-title {
  margin: 50px 0;
  text-align: center;
}

.title, .page-title {
  font-size: 50px;
  color: #49aea3;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 300;
}

.line-title-container {
  overflow: hidden;
}

.line-title {
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;

  span {
  font-size: 15px;
  letter-spacing: 5px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  }
  &::before {
    right: 100%;
    margin-right: 15px;
  }
  &::after { 
    left: 100%;
    margin-left: 15px;
  }
  &::before, &::after {
    border-top: 1px solid #49aea3;
    display: block;
    height: 1px;
    content: " ";
    width: 420px;
    position: absolute;
    top: 10px;
    width: 600px;
  }
}

.clearblock, .colourblock, .prefooter {
    width: 100%;
    margin: 0;
    display: block;
}

// Simple Form Overides
.help-hint {
  font-size: 0.875em;
  margin-bottom: 0;
}
