/*
*= require simple_form_extension
*/

@charset "utf-8";

@import "normalize-rails";

@import "bourbon";
@import "neat";

@import "base/base";
@import "refills/flashes";

@import "simple_form_extension/jquery.datetimepicker";
@import "simple_form_extension/jasny_bootstrap";
@import "simple_form_extension/bootstrap_slider";
@import "simple_form_extension/bootstrap_colorpicker";

@import "webinars";

body {
  @include outer-container;
  background-color: $brand-grey;
}

header {
  @include outer-container;
  // background-color: #fff;
}
section { 
  @include span-columns(12);

}
.flashes {
  @include span-columns(10);
}

button {
  background-color: $brand-green-dark;
  color: $brand-red;
  width: $clear-button-width;
}
