<h1>Listing Presenters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @presenters.each do |presenter| %>
      <tr>
        <td><%= link_to presenter.name, edit_presenter_path(presenter) %></td>
        <td><%= presenter.email %></td>
        <td><%= link_to t("helpers.links.destroy"), presenter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Presenter', new_presenter_path, class: 'btn' %>
