  <header class="application-header">
    <nav>
      <%= link_to image_tag("email/TTV_logo.png", width: 230), root_path %>
      <ul class="right">
        <li class="nav-link"><a href="//www.trilbytv.co.uk">Back to www.trilbytv.co.uk</a>
      </ul>
    </nav>
  </header>
  <% if signed_in? %>
    <%= render "nav_bar" %>
  <% end %>
