</section>
<div class="prefooter">
  <div class="holder">
    <div class="text-block right">
      <h1>Switch On Your Signage Today</h1>
      <p class="quote">“My students are so proud and excited when they see their work on our school reception TV.”</p>
      <p class="title">Katy Haygarth, Year 6 Class Teacher</p>
      <a href="http://www.trilbytv.co.uk/plans"><span class="hbutton">Get Switched On</span></a>
    </div>
  </div>
</div>
