<h1>Manage Webinars</h1>
<%= link_to t("admin.webinars.new"), new_admin_webinar_path, class: 'btn' %>
<section class="first">
  <h2>Upcoming Webinars</h2>
  <%= render 'admin/webinars/live', webinars: @webinars.upcoming %>
</section>

<section>
  <h2>Past Webinars</h2>
  <%= render 'admin/webinars/past', webinars: @webinars.past %>
</section>
